* {
  box-sizing: border-box;
  margin: 0;
}
html {
  min-width: 350px;
}
.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #1a2435;
}
header {
  font-size: 2rem;
  text-align: center;
  color: #e5e7eb;
  width: 100%;
  background-color: #111827;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-color: #606b79;
}
.resultsContainer {
  text-align: center;
}
.scoreCard {
  color: #e5e7eb;
}
.announcements {
  color: #606b79;
}
.main-game {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 960px;
  min-height: 40vh;
}
.button-row {
  display: flex;
  height: 50%;
  width: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: space-evenly;
  align-items: center;
}

.options {
  height: 80%;
  aspect-ratio: 1/1;
}
.historyContainer {
  text-align: center;
}
.history {
  visibility: hidden;
  height: 100px;
  max-height: 100px;
  overflow: auto;
}
